.export-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}

.export-button {
  cursor: pointer;
}

.export-button img {
  transition: transform 0.2s;
  width: 32px;
  height: 32px;
}

.export-button:hover img {
  transform: scale(1.1);
}
